<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table width="100%" border="3">
        <tr>
            <td>제품 식별번호</td>
            <td>
                <%=productData.ID%>
            </td>
        </tr>
        <td>판매자 식별번호</td>
        <td>
            <%=productData.sellerId%>
        </td>
        <tr>
            <td>제품명</td>
            <td>
                <%=productData.name%>
            </td>
        </tr>
        <td>제품 설명</td>
        <td>
            <%=productData.description%>
        </td>
        </tr>
        <tr>
            <td>제품 가격</td>
            <td>
                <%=productData.price%>
            </td>
        </tr>
    </table>
    <input type="button" value="goBack" onclick="goBack()">

    <script>
        function goBack() {
            history.back();
        }
    </script>
</body>

</html>